@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
    font-family: 'Open Sans'
}
body {
    margin: 0;
    padding: 0;
    border: 0;
    color: #666;
    background-color: #f9f9f9;
}

h1, h2, h3 {
  color: #4b4b4b;
  margin: 1.2em 0 .5em 0;
}
.content {
  max-width: 900px;
  margin: 20px auto;
  background: #fff;
  padding: 10px;
  border: solid 1px #eee;
  border-radius: 10px;
}
table {
  width: 100%;
}
th, td {
  padding: 10px;
  text-align: left;
  vertical-align: top;
  font-size: .9em;
  font-weight: normal;
  border-right: 1px solid #fff;
}
th {
  background: #eee;
  white-space: nowrap;
}
td:first-child {
  color: royalblue;
  white-space: nowrap;
}
p, td {
  line-height: 1.5;
}
.inline-code {
  padding: 1px 5px;
  background: #eee;
  border-radius: 2px;
}
pre {
  margin: 10px 0;
  overflow: auto;
  white-space: pre;
  word-wrap: normal;
  border: 0;
  border-radius: 5px;
  padding: 8px 10px;
  line-height: 18px;
  background: #edf3f8;
  font-size: 14px;
}
code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}
button {
  padding: 10px;
  border: 0;
  border-radius: 3px;
  font-size: 1em;
  cursor: pointer;
}
button.info {
  background: #dbb11a;
  color: #fff;
}
.area-buttons {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

  .top-navbar {
    align-items: center;
    background-color: #dbb11a;
    display: flex;
    height: 90px;
    padding: 8px;
    justify-content: space-evenly;
    font-family: "Quicksand", sans-serif;
    font-size: 1.5em;
  }

  .nav-item {
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    font-weight: bolder;
    color: rgba(245, 253, 255, 0.959);
    text-decoration: none;
    padding: 10px;
  }

  .nav-item:hover {
    color: #ff4d00;
  }

  .home {
    display: flex;
    flex-direction: column;
    align-items:center
  }

  img.home-image {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 20vw;
  }

  #reservationspage {
      /* display: none; */
      justify-content: center;
      flex-direction: column;
  }

  table {
    border-spacing: 0px;

    border-collapse: collapse;
    }
    th, td {
      border: 1px solid black;
      width: 200px;
    }

    #tableheader {
        display:flex;
        justify-content: center;
        font-size: 20px;
        border: 1px solid black;
        border-bottom-width: 0px
    }

    .tablewrapper {
       width: 30vw;
    }
